<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
      <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body style="background-image : url({% static 'images/london.jpg' %}); background-size: cover; background-repeat: no-repeat;" >
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <a class="nav-link active" aria-current="page" href="{% url 'addrooms' %}">ADDROOM</a>
         <a class="nav-link active" aria-current="page" href="{% url 'viewbookadmin' %}">BOOKING HISTORY</a>
        <a class="nav-link active" aria-current="page" href="{% url 'viewroom' %}">VIEW ROOMS</a>
          <a class="nav-link active" aria-current="page" href="{% url 'adm_logout_view' %}">LOGOUT</a>

      </ul>
      <div class="d-flex">

        <div class="dropdown" style="margin-right: 80px;">

</div>
      </div>
    </div>
  </div>
</nav>
</body>
</html>