<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="{% url 'chanjal' %}"><button type="button">Signup</button> </a>

<a href="{% url 'login' %}"><button type="button">Login</button> </a>
{% if user is authenticated %}
<a href="{% url 'viewdetails' %}"><button type="button">VIEWDETAILS</button></a>
<a href="{% url 'booking' %}"><button type="button">BOOKING</button></a>
<a href="{% url 'logout_view' %}"><button type="button">logout</button></a>
{% else if %}
<a href="{% url 'addrooms' %}"><button type="button">ADDROOM</button></a>

{% endif %}
</body>
</html>